// 変数


// カラー
$baseColor: #faf5e9;
$accentColor: #459209;
$textColor: #333;
$yellow: #efdd34;
$beige: #efe1c5;


// ブレイクポイント
$breakpoints: (
  xs-min: '(min-width: 375px)',
  xs-max: '(max-width: 374px)',
  sm-min: '(min-width: 576px)',
  sm-max: '(max-width: 575px)',
  md-min: '(min-width: 768px)',
  md-max: '(max-width: 767px)',
  lg-min: '(min-width: 992px)',
  lg-max: '(max-width: 991px)',
  xl-min: '(min-width: 1200px)',
  xl-max: '(max-width: 1199px)',
  xxl-min: '(min-width: 1366px)',
  xxl-max: '(max-width: 1365px)'
);
