<header class="header">
  <h1 class="header__heading">
    <a class="header__headingLink" href="">
      <img class="header__headingImage" src="/images/common/logo.svg" alt="東京サファリパーク">
    </a>
  </h1>

  <button class="header__btn gNavBtn" id="js-gNavBtn" type="button" title="メニューの開閉">
    <span class="gNavBtn__bar"></span>

    <span class="sr-only">Menu</span>
  </button>

  <nav class="header__gNav gNav">
    <ul class="gNav__list">
      <li class="gNav__item">
        <a class="gNav__link" href="/animal">
          <span class="gNav__icon material-icons">pets</span>

          動物紹介
        </a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="/guide">
          <span class="gNav__icon material-icons">explore</span>

          パークガイド
        </a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="/price">
          <span class="gNav__icon material-icons">confirmation_number</span>

          料金・チケット
        </a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="/access">
          <span class="gNav__icon material-icons">commute</span>

          交通アクセス
        </a>
      </li>
    </ul>
  </nav>
</header>
