// 見出し


// 変数・ミックスイン・関数
@use "../../global/" as g;


// プライマリ
.primaryHeading {
  text-align: center;

  &__icon {
    margin-right: 3px;
    vertical-align: -5px;
    font-size: 30px;
    color: g.$yellow;
  }
}
